.body{
 background-color: #1e3c72;
  height: auto;
  font-family: 'Poppins', sans-serif;
}

.container{
  flex-direction: column;
}

h2 {
  text-align: center ;
  color: #fff !important;
  margin-top: 20px !important;
}

.box {
  background: rgba(255, 255, 255, 0.1);
  padding: 25px;
  border-radius: 20px;
  color: white;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
  width: 450px;
}

input {
  border-radius: 10px !important;
  padding: 10px !important;
  width: 450px !important;
  margin: 20px 0 !important;
}

.box h5 {
  font-size: 20px;
  text-align: center;
}

.box h4{
   text-align: center;
}
.update{
   text-align: center;
}
.box img{
  width: 70px;
}

.weather-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  margin-top: 20px;
}

.weather-card {
  background: rgba(255, 255, 255, 0.15);
  padding: 10px;
  border-radius: 12px;
  text-align: center;
  transition: 0.3s;
}

.weather-card:hover {
  transform: scale(1.05);
}

.weather-card i {
  font-size: 20px;
}


@media (max-width: 576px) {
  .body{
    height: auto;
  }
  input {
    width: 300px!important;
  }

  .box {
    padding: 15px;
    width: 330px;
  }

  .weather-info {
    grid-template-columns: repeat(2, 1fr);
  }

  h2 {
    font-size: 20px;
  }

  .box h5 {
    font-size: 20px;
  }

}
